name: Build Docker

on:
  push:
   branches: [ main ]
  pull_request:
    branches: [ main ]
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKERPW }}

    - name: Build & Push Image
      run: |
        docker image build -t "${{ secrets.DOCKER_HUB_USERNAME }}"/newcodex:latest .
        docker push "${{ secrets.DOCKER_HUB_USERNAME }}"/newcodex:latest
